@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&family=Satisfy&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding-left: 100px;
    margin-top: 800px;
    padding-top: 40px;
    width: 92.5vw;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
    max-width: 300px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #ccc;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  
  .about{
    text-align: justify;
}

  .tq{
    text-align: center;
}

.footer-center{
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.social-media-icons{
  text-align: center;
  padding-top: 20px;
}

.sm-icon1{
  padding-right: 10px;
  color: beige;
}

.add{
  padding-left: 20px;
}

.foot-links-feed{
  color: lightskyblue;
  text-decoration: underline;
  padding-left: 20px;
}

.foot-head{
  text-align: center;
  font-size: 45px;
  font-family: 'Sacramento', cursive;
  color: #b056a4;

}